#frontends-truyen-cuoi{style: "margin-top:20px"}
  %h3 Truyện cười mới nhất
  - 5.times do
    .row.truyenvui-content.main-content
      .col-sm-7.truyenvui-description
        %a{href: ""}
          .panel.panel-default
            .panel-body  
              %div.truyenvui-description  
                %p Có 1 anh chàng một hôm đang đi nhặt lá đá ống bơ thì nhặt được 1 quyển bí kíp.

                %p Nghi là võ học thượng thừa nên anh ta giấu mang về nhà đọc.

                %p Trang 1 : Miêu tả về võ công. Có thể hô mưa gọi gió. Độc bộ thiên hạ. Đưa người ta lên đỉnh cao của võ học.

                %p Trang 2 : Cần phải tự cung mới có thể luyện …

                %p Sau một hồi đắn đo suy nghĩ. Anh ta hạ quyết tâm vung đao tự cung.  
      .col-sm-5
        .sticky_column
          .truyenvui-title
            %h4{style: "font-weight:bold"} 
              %a{href: ""} Tội nghiệp thằng ăn trộm 
          .info
            .div{style: "font-size: 12px; margin-bottom: 5px; margin-top: -8px;"}
              Đăng bởi 
              %a Khang 
              19 phút trước 
                
            %p
              %span{style: "padding-right: 10px;"}
                %i.fa.fa-eye{"aria-hidden" => "true"}
                1000
              %span
                %i.fa.fa-comments{"aria-hidden" => "true"}
                10  
          .fb-like{"data-action" => "like", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true", "data-size" => "small"}  
    .clear-fix{style: "border-bottom: 1px solid #ddd; margin-bottom: 20px;"}           

              
              

  .paging
    %p.paging-head
      %i.fa.fa-file-text-o
      Page
      1
      of
      %span 34
    %ul.pagination.pagination
      %li.prev.disabled
        %span ← Previous
      %li.active
        %span 1
      %li
        %a{:href => "/?page=2", :rel => "next"} 2
      %li
        %a{:href => "/?page=3"} 3
      %li.disabled
        %span …
      %li
        %a{:href => "/?page=33"} 33
      %li
        %a{:href => "/?page=34"} 34
      %li.next
        %a{:href => "/?page=2", :rel => "next"} Next →
                  
