#frontends-index{style: "margin-top:20px"}
  .row 
    .col-sm-7{ style: "margin-bottom: 20px;"}
      #user_info{style: "-moz-box-shadow: 2px 2px 2px 2px #ccc; -webkit-box-shadow: 2px 2px 2px 2x #ccc; box-shadow: 2px 2px 2px 2px #ccc;"}
        .well{style: "padding:0px; text-align: left;height: auto ;background:#c9c9c9"}
          .avartar{style: "overflow: hidden; margin-top: 10px;"}  
            .user-image
              = image_tag("/assets/admin.jpg")
            .name
              %h5{style: "font-weight:bold;margin-bottom: 4px;padding-top: 5px;"} Nguyen Van Dao
              %div{style: "font-size: 13px;"} Tham gia từ: 12/11/2016
          .clear-fix  
          .status{style: "margin: 10px;"}
            %div
              Số ảnh đã đăng: 
              %span.number 102 
            %div
              Được like:  
              %span.number 102
              lần
            %div
              Được bình luận: 
              %span.number 102
              lần
            %div
              Được xem: 
              %span.number 102
              lần
            %div
              Thứ hạng: 
              %span.number 102        
    .col-sm-5
      %h4 Thông tin cá nhân của #####
      %h4 hinh da dang
      %h4 truyen da dang
  %h4{style: "font-weight:bold;"} Ảnh đã đăng  
  - 5.times do
    .row.anh-che-content.main-content
      .col-sm-7{ style: "margin-bottom: 20px;"}
        %a
          = image_tag("/assets/anh-che.jpg")
      .col-sm-5
        .sticky_column
          .anh-che-title
            %h4{style: "font-weight:bold"} Tội nghiệp thằng ăn trộm 
          .info
            .div{style: "font-size: 12px; margin-bottom: 5px; margin-top: -8px;"}
              Đăng bởi 
              %a Khang 
              19 phút trước 
                
            %p
              %span{style: "padding-right: 10px;"}
                %i.fa.fa-eye{"aria-hidden" => "true"}
                1000
              %span
                %i.fa.fa-comments{"aria-hidden" => "true"}
                10  
          .fb-like{"data-action" => "like", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true", "data-size" => "small"}  
    .clear-fix{style: "border-bottom: 1px solid #ddd; margin-bottom: 20px;"}           

              
              

  .paging
    %p.paging-head
      %i.fa.fa-file-text-o
      Page
      1
      of
      %span 34
    %ul.pagination.pagination
      %li.prev.disabled
        %span ← Previous
      %li.active
        %span 1
      %li
        %a{:href => "/?page=2", :rel => "next"} 2
      %li
        %a{:href => "/?page=3"} 3
      %li.disabled
        %span …
      %li
        %a{:href => "/?page=33"} 33
      %li
        %a{:href => "/?page=34"} 34
      %li.next
        %a{:href => "/?page=2", :rel => "next"} Next →
                  
