#frontend-anh-che
  %h3 Trang chủ
  - @posts.limit(10).each do |anh_che|
    .row.main-content
      .col-sm-7.content-left
        %a.picture{:href => post_path(anh_che)}
          - if anh_che.avatar.present?
            = image_tag(anh_che.avatar.image.url)
          - else
            %span Missing
      .col-sm-5.content-right
        .sticky_column
          .anh-che-title
            %h4
              %a{:href => post_path(anh_che)} 
                = anh_che.title
          .info
            Đăng bởi 
            %a{href: ""} 
              = anh_che.user.name
            19 phút trước 
            .status
              %span.view
                %i.fa.fa-eye{"aria-hidden" => "true"}
                = anh_che.view
              %span
                %i.fa.fa-comments{"aria-hidden" => "true"}
                10  
          .fb-like-button
            .before-click
              %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
              %span.text Like
              %span.number 110
            .after-click 
              %i.fa.fa-check{"aria-hidden" => "true"}
              %span.text Like
              %span.number 111
          .fb-share-button{"data-href" => post_path(anh_che), "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "small"}
            %a.fb-xfbml-parse-ignore{:href => post_path(anh_che)+"&src=sdkpreparse", :target => "_blank"} Share

 
    .clear-fix{style: "border-bottom: 1px solid #ddd; margin-bottom: 20px;"}  
                  
