#post-the-end{style: "text-align:center;"}
  .head 
    %h1 Nội dung bạn muốn xem đã hết !!!
  .content
    %h3 Bạn có thể tiếp tục ủng hộ vuivon.com bằng cách xem các thể loại khác hoặc tham gia đóng góp những bài đăng hay làm cho website ngày càng phát triển.
    %h4 Cảm ơn bạn đã tham gia cộng đồng này. 
.putthenumberintohere  

