#frontends-index .truyenvui-title 
{
  margin-top:-30px;
  margin-bottom: 15px;
}
#frontends-index .truyenvui-title a
{
  color: #365899;
  cursor: pointer;
  text-decoration: none;
}
#frontends-index .truyenvui-info
{
  font-size: 12px; 
  margin-top: -10px;
  color: #90949c;
}
#frontends-index .paging
{
  text-align:center;
}
.paging .paging-head
{
  margin-bottom:-15px;
}
