*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
body
{
  font-family: Helvetica,Arial,sans-serif;
  line-height:1.38;
  font-size:14px;
}
.tips
{
  background: #ffee8a none repeat scroll 0 0;
  border: 1px solid #f8d50c;
  color: #333;
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
}
.tips span 
{
  font-weight:bold;
}
.rteright 
{
  display:none;
}
p 
{
  margin:0px;
}
.panel-body
{
  min-height: 150px;
}
.content-left
{
  min-height: 150px;
}
.fb-like-button 
{
  background: #4267b2 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  float: left;
  margin-right: 5px;
  padding: 1px;
}
.fb-like-button:hover 
{
  cursor:pointer;
  background: #365899;
}
.fb-like-button .before-click
{
  padding-right:5px;
}
.fb-like-button i
{
  margin-left:3px;
}
.fb-like-button span 
{
  font-size:12px;
}
.fb-like-button span.text
{
  font-weight:bold;
}
.fb-like-button .after-click
{
  display:none;
  background: #4080ff none repeat scroll 0 0;
  border-radius: 3px;
  padding-right:5px;
}
.infinite-scrolling .pagination
{
  display:none;
}
.infinite-scrolling .btn 
{
  width:100%;
}
#myNavbar ul li a 
{
  font-weight: bold;
}
#myNavbar .dropdown-menu 
{
  background: #f1f1f1;
}
#myNavbar .dropdown:hover .dropdown-menu
{
  display:block;
}
#myNavbar .login-facebook-button .avatar
{
  cursor:pointer;
}
#myNavbar .login-facebook-button li a img
{
  float: right;
  height: 50px;
} 
#myNavbar .login-facebook-button .avatar img 
{
  width:50px;
  height: 50px;
}
#myNavbar .login-facebook-button:hover .option
{
  display:block;
}

#content .sidebar .btn-dang-anh button
{
  font-size: 12px; 
  font-weight: bold; 
  width: 100%;
  padding:10px;
  margin-bottom:10px;
}
#topUser 
{
  -moz-box-shadow: 2px 2px 2px 2px #ccc; 
  -webkit-box-shadow: 2px 2px 2px 2x #ccc; 
  box-shadow: 2px 2px 2px 2px #ccc;
}
#topUser .well
{
  padding:0px; 
  text-align: left;
  height: auto ;
  background:#c9c9c9;
}
#topUserHeader h4 
{
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  width: 50%;
  margin-top: 5px;
}
#topUserHeader .period
{
  font-style: italic;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
}
#topUserContent .topUsers
{
  margin-top: -8px;
}
#topUserContent .detail-user
{
  text-decoration:none;
}
#topUserContent .info
{
  font-size: 12px; 
  font-weight: bold;
  margin-top: 4px;
  color: #333;
}
#topUserContent .info .name
{
  display:block;
}
#topUserContent .moreTop
{
  text-align:right; 
  font-weight:bold; 
  padding: 10px;
}
#topUserContent .topUsers
{
  float: left;
  padding: 5px;
  width: 50%;
}
#topUserContent .topUsers .user-image 
{
  display: block;
  float: left;
  padding: 5px;
  width: 30%;
}
#topUserContent .topUsers .user-image img
{
  width: 100%;
}
#topUserContent .moreTop a
{
  color: #333;
}
#topUserContent .topUsers .info i
{
  font-size: 15px;
} 
#topUserContent .topUsers .name
{
  transition: color  0.2s linear 0s ;
}

#topUserContent .topUsers:hover .name
{
  color: #ba0068;
}
#topUserHeader .period ul li
{
  display:inline-block;
}
#topUserHeader .period ul li a
{
  color: #333;
  text-decoration: none;
  transition: color  0.2s linear 0s ;
}
#topUserHeader .period ul li:hover a
{
  color: #ba0068;
}
#topUserHeader .period ul li.active a
{
  color: #00a5f0;
}
#fan-fage-facebook 
{
  -moz-box-shadow: 2px 2px 2px 2px #ccc; 
  -webkit-box-shadow: 2px 2px 2px 2x #ccc; 
  box-shadow: 2px 2px 2px 2px #ccc;
}
#fan-fage-facebook .well 
{
  background: #c9c9c9; 
  padding-top: 0;
}
#fan-fage-facebook .well h4
{
  font-weight:bold;
}
#myModal-dang-anh #something_unique
{
  width: 90%;
}




