#frontends-truyen-cuoi .truyenvui-description a
{
  text-decoration:none;
  color:#333;
}
#frontends-truyen-cuoi .truyenvui-title a
{
  text-decoration:none;
  color:#333;
  transition: color  0.2s linear 0s ;
}
#frontends-truyen-cuoi .truyenvui-title:hover a
{
  color:  #ba0068;
}
