#frontends-anh-che .anh-che-content img
{
  width: 100%;
}
#frontends-anh-che .anh-che-title a 
{
  text-decoration:none;
  color:#333;
  transition: color  0.2s linear 0s ;
}
#frontends-anh-che .anh-che-title:hover a 
{
  color:  #ba0068;
}
