#user-show .user-content
{
  margin-top:10px;
}
#user-show .user-content .avatar 
{
  overflow: hidden;
}
#user-show .user-content .name 
{
  font-size:15px;
  font-weight:bold;
}
#user-show .user-content .star-date
{
  margin-top:7px;
  font-size:13px;
}
#user-show .user-content .user-image 
{
  float: left;
  margin-right: 20px;
  width: 20%;
}
#user-show .user-content .user-image img 
{
  width:100%;
}
#user-show .user-content .status 
{
  margin-top:10px;
  line-height:1.6em;
}
#user-show .user-content .status .number 
{
  font-size: 16px;
  font-weight: bold;
  color: #ba0068;
}
#user-show .user-content .option
{
  margin-bottom: -10px;
  text-align: right;
}
#user-show .user-content .option a
{
  font-weight:bold;
  text-decoration: none;
  color:#00a5f0;
}
#user-show .user-images .content-left
{
  margin-bottom: 20px;
  overflow:hidden;
} 
#user-show .user-images .clear-fix
{
   margin-bottom: 20px;
}
#user-show .user-images .content-left .watermark 
{
  margin: 0 auto -40px ;
}
#user-show .user-images .content-left .watermark-origin
{
  margin: 0 auto -30px ;
}
#user-show .user-images .content-left img 
{
  width:100%;
}
#user-show .user-images .content-right .anh-che-title h4
{
  font-weight:bold;
}
#user-show .user-images .content-right .anh-che-title .title
{
  color: #333;
  text-decoration:none;
  transition: color  0.2s linear 0s;
}
#user-show .user-images .content-right .anh-che-title .title:hover
{
  color: #ba0068;
}
#user-show .user-images .content-right .info .uploader 
{
  font-size: 12px; margin-bottom: 5px; margin-top: -8px;
}
#user-show .user-images .content-right .info .status
{
  font-weight:bold;
}
#user-truyen .user-content
{
  margin-top:10px;
}
#user-truyen .user-content .avatar 
{
  overflow: hidden;
}
#user-truyen .user-content .name 
{
  font-size:15px;
  font-weight:bold;
}
#user-truyen .user-content .star-date
{
  margin-top:7px;
  font-size:13px;
}
#user-truyen .user-content .user-image 
{
  float: left;
  margin-right: 20px;
  width: 20%;
}
#user-truyen .user-content .user-image img 
{
  width:100%;
}
#user-truyen .user-content .status 
{
  margin-top:10px;
  line-height:1.6em;
}
#user-truyen .user-content .status .number 
{
  font-size: 16px;
  font-weight: bold;
  color: #ba0068;
}
#user-truyen .user-jokes .clear-fix
{
  margin-bottom: 20px;
}
#user-truyen .user-jokes .content-left .truyen-cuoi-content 
{
  text-decoration:none;
  color: #333;
}
#user-truyen .user-jokes .content-right .title 
{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
#user-truyen .user-jokes .content-right .info .upload-at
{
  font-size: 13px;
  margin: -5px 0 5px;
}
#user-truyen .user-jokes .content-right .status 
{
  font-weight:bold;
}
#user-truyen .user-jokes .content-right .status .view 
{
  margin-right:10px;
}
#user-truyen .user-content .option
{
  margin-bottom: -10px;
  text-align: right;
}
#user-truyen .user-content .option a
{
  font-weight:bold;
  text-decoration: none;
  color:#00a5f0;
}
#user-info .form-update-user .header
{
  margin-bottom:20px;
  font-weight:bold;
}
#user-info .form-update-user .avatar
{
  margin-top: 20px; 
  margin-bottom: -10px;
}
#user-info .form-update-user .avatar img 
{
  max-height:120px;
  max-width:120px;
}
#user-truyen .user-jokes .truyen-cuoi-title .title
{
  color: #333;
  text-decoration:none;
  transition: color  0.2s linear 0s;
}
#user-truyen .user-jokes  .truyen-cuoi-title .title:hover
{
  color: #ba0068;
}

// css top-user
.top-user-content
{
  background: #dedede;
  overflow:hidden;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 3px #888;
  text-shadow: 0 1px #eee;
}
.top-user-content .top-user-head 
{
  margin:10px;
  overflow:hidden;
}
.top-user-content .top-user-head .head 
{
  float:left;
  margin:0px;
  font-weight:bold;
}
.top-user-content .top-user-head .top-user-sort
{
  float:right;
}
.top-user-content .top-user-head .top-user-sort li
{
  display:inline;

}
.top-user-content .top-user-head .top-user-sort li.active a
{
  color: #00a5f0;
}
.top-user-content .top-user-head .top-user-sort li a
{
  font-style: inline;
  font-weight:bold;
  color: #333;
  text-decoration: none;
  transition: color  0.2s linear 0s;
}
.top-user-content .top-user-head .top-user-sort li a:hover 
{
  color: #ba0068;
}
.top-user-details .div 
{
  width:33.33%;
  float:left;
}
.top-user-content .top-user-details 
{
  padding:0px 10px;
}
.top-user-details .user-info
{
  width:33.33%;
  float:left;
  margin-bottom:10px;
}
.top-user-details .user-info .user-link 
{
  color:#333;
}
.top-user-details .user-info .user-image
{
  width:25%;
  float:left;
  margin-right:5px;
}
.top-user-details .user-info .user-image img
{
  width:100%;
}
.top-user-details .user-info .info
{
  float:left;
}
.top-user-details .user-info .info span 
{
  font-weight:bold;
}
.top-user-details .user-info .info .name
{
  display:block;
  transition: color  0.2s linear 0s;
}
.top-user-details .user-info .user-link:hover .info .name
{
  color: #ba0068;
}

