#user_info .user-image
{
  width: 20%;
  float: left;
  margin-left:10px;
  margin-right:10px;
}
#user_info .avartar .user-image img
{
  width:100%;
}
#user_info .status div
{
  line-height: 1.5em;
  font-size:15px;
}
#user_info .status .number
{
  color:#ba0068;
  font-size:16px;
  font-weight:bold;
}

